In [1]:
print("Hello IBM")

Hello IBM

In [2]:
a = "Variable declaration and printing"
print(a)


b = "another var"
print(b)

Variable declaration and printing
another var

In [3]:
counter = 100
miles = 1000.00


print(counter)
print(miles)

100
1000.0

In [4]:
x = y = z = 100

print(x)
print(y)
print(z)

100
100
100

In [5]:
name,age,address = "vishwanath", "45", "bangalore"

print(name)
print(age)
print(address)

vishwanath
45
bangalore

In [6]:
str = "Vishwanath B Ramachandra Rao"

print(str)
print(str[0])
print(str[2:5])
print(str[5:])
print(str * 2)
print(str + "Dr.")

Vishwanath B Ramachandra Rao
V
shw
anath B Ramachandra Rao
Vishwanath B Ramachandra RaoVishwanath B Ramachandra Rao
Vishwanath B Ramachandra RaoDr.

In [7]:
list1 = ['string1', 786, 2.23, 'string3', 89.9]

print(list1)
print(list1[0])
print(list1[2:4])
print(list1[2:])
print(list1 * 2)

tinylist = ['wewe', 'rtrt', 'dfdf']
print(list1 + tinylist)

['string1', 786, 2.23, 'string3', 89.9]
string1
[2.23, 'string3']
[2.23, 'string3', 89.9]
['string1', 786, 2.23, 'string3', 89.9, 'string1', 786, 2.23, 'string3', 89.9]
['string1', 786, 2.23, 'string3', 89.9, 'wewe', 'rtrt', 'dfdf']

In [8]:
tuple1 = ('string1', 786, 2.23, 'string3', 89.9)

print(tuple1)
print(tuple1[0])
print(tuple1[2:4])
print(tuple1[2:])
print(tuple1 * 2)

tuple1list = ['wewe', 'rtrt', 'dfdf']
print(list1 + tuple1list)

('string1', 786, 2.23, 'string3', 89.9)
string1
(2.23, 'string3')
(2.23, 'string3', 89.9)
('string1', 786, 2.23, 'string3', 89.9, 'string1', 786, 2.23, 'string3', 89.9)
['string1', 786, 2.23, 'string3', 89.9, 'wewe', 'rtrt', 'dfdf']

In [10]:
dict = {}

dict['one'] = "this is one"
dict[2] = "this is two"

tinydict = {'name' : 'Vishwanath', 'code' : 6734, 'dept' : 'Research'}

print(dict['one'])
print(dict[2])
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

this is one
this is two
{'name': 'Vishwanath', 'code': 6734, 'dept': 'Research'}
dict_keys(['name', 'code', 'dept'])
dict_values(['Vishwanath', 6734, 'Research'])

In [11]:
var = 400
if(var == 400) : print("value expression is 400")
print("bye")

value expression is 400
bye

In [12]:
x,y = 4, 3

if x < y :
    smaller = x
else :
    smaller = y

print(smaller)

3

In [13]:
smaller = (x < y and [x] or [y])[0]
print(smaller)

3

In [14]:
smaller = x if x < y else y

print(smaller)

3

In [15]:
name = input("what is your name?")

if(name.endswith('Rao')) :
    print("Hi, Mr. Rao")
else :
    print("Hello Other")

what is your name?Anil Kumar
Hello Other

In [16]:
count = 0

while(count < 9) :
    print("The count is : ", count)
    count = count + 1
    
print("end")

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
The count is :  5
The count is :  6
The count is :  7
The count is :  8
end

In [17]:
count = 0

while(count < 9) :
    print("The count is : ", count)
    count = count + 1
else :
    print(count, "is not less than 9")

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
The count is :  5
The count is :  6
The count is :  7
The count is :  8
9 is not less than 9

In [18]:
for letter in "Python" :
    print("Current letter :" , letter)

Current letter : P
Current letter : y
Current letter : t
Current letter : h
Current letter : o
Current letter : n

In [19]:
fruits = ["banaba", "apple", "mango"]

for fruit in fruits :
    print("Current fruit :" , fruit)

Current fruit : banaba
Current fruit : apple
Current fruit : mango

In [20]:
for letter in 'Python' :
    if letter == 'h' :
        break
    print("current letter", letter)

current letter P
current letter y
current letter t

In [21]:
for letter in 'Python' :
    if letter == 'h' :
        continue
    print("current letter", letter)

current letter P
current letter y
current letter t
current letter o
current letter n

In [22]:
for letter in 'Python' :
    if letter == 'h' :
        pass
        print("Added extra block execution")
    print("current letter", letter)

current letter P
current letter y
current letter t
Added extra block execution
current letter h
current letter o
current letter n

In [23]:
choice = 'dal'
print ({'rice' : 55,
       'dal' : 120,
       'spices' : 200,
       'fruits' : 100}[choice])

120

In [24]:
"""comments multi line"""

'comments multi line'

In [25]:
print(True)
print (True == 1)
print (False)
print(False == 0)

True
True
False
True

In [27]:
var = 42
var2 = var1 < 100

print(var2)
print(var)
print(var + 100)

print ('%s' % var)
print ('%d' % var)

42
142
42
42